{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock css %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h1>Login</h1>
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                    <!-- Usando safe para renderizar o HTML dos links corretamente -->
                    {{ message|safe }}
                {% endfor %}
            </div>
            {% endif %}
            <form method="post" class="login-form">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary">
                </div>
                <div class="link-cadastro">
                    Não tem uma conta? <a href="{% url 'signup' %}">Cadastre-se</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
