{% load static %}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Seu Site{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css %}{% endblock css %}
</head>

<body>
    <header class="site-header">
        <div class="container header-content">
            <a href="/" class="logo">Análise de Sentimento</a>
        </div>
    </header>

    <main class="main-content">
        {% block content %}{% endblock %}
    </main>

    <footer class="site-footer">
        <div class="container footer-content">
            <p>&copy; 2024 Análise de Sentimento</p>
        </div>
    </footer>
</body>
</html>
