/* dashboard.css */

/* Estilos Gerais e Base */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f2f5; /* Um fundo mais claro e suave */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h4 {
    font-family: 'Montserrat', sans-serif; /* Usando a fonte Montserrat ou outra fonte sans-serif */
    font-weight: bold; /* Negrito */
    color: #333; /* Cor preta */
    /* Outras propriedades de estilo que você pode ajustar conforme desejado */
}

/* Header com navegação administrativa */
.header-content {
    width: 100%;
    color: #fff;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center; /* Centralizar verticalmente */
    text-align: center; /* Centralizar horizontalmente */
}

.header-content .logo {
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}

.admin-nav ul {
    list-style-type: none;
    display: flex;
}

.admin-nav li {
    padding: 0 10px;
}

.admin-nav a {
    color: #fff;
    text-decoration: none;
    background-color: #5c157d;
    padding: 8px 15px;
    margin-left: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.admin-nav a:hover {
    background-color: #441163;
}

/* Conteúdo Principal */
.all-content {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    position: relative;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.dashboard-header {
    background-color: #ffffff;
    padding-bottom: 0;
    position: relative;
    top: 0;
    left: 0;
    border-radius: 10px; /* Adicionando bordas arredondadas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adicionando sombra */
    transition: all 0.3s ease; /* Adicionando uma transição suave */
    display: flex; /* Ativar flexbox */
    align-items: center; /* Centralizar verticalmente */
    justify-content: center; /* Centralizar horizontalmente */
    flex-direction: column; /* Coluna para centralizar verticalmente */
}

.dashboard-header h1 {
    padding: 4px;
    margin: 0;
}

.dashboard-header:hover {
    transform: translateY(-2px); /* Adicionando um efeito de levantar ao passar o mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adicionando uma sombra mais pronunciada ao passar o mouse */
}

.stats-card:hover {
    transform: translateY(-2px); /* Adicionando um efeito de levantar ao passar o mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adicionando uma sombra mais pronunciada ao passar o mouse */
}

.stats-card {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 30px;
    width: 49vw;
    max-height: 60vh;
    max-width: 100vw;
    text-align: center;
}

.stats-card canvas {
    width: 100%;
    height: 200px; /* Ajuste a altura conforme necessário */
}

.stats-card h4 {
    color: #6a1b9a;
    margin-bottom: 10px;
}

.stats-card p {
    font-size: 20px;
    color: #333;
}

#totalAnalysesChart{
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .stats-card {
        width: 100%;
    }

    .admin-nav {
        flex-direction: column;
    }

    .admin-nav a {
        margin-top: 5px;
    }
}
