
/* Estilos Gerais */
body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column; /* Mantém o layout em coluna para separar cabeçalho, conteúdo e rodapé */
    background-color: #6a1b9a; /* Cor de fundo violeta */
    color: #333; /* Cor de texto mais suave */
    min-height: 100vh; /* Altura mínima para cobrir a viewport inteira */
}

.container {
    max-width: 960px; /* Aumenta a largura máxima para layouts mais amplos */
    margin: 20px auto; /* Adiciona margem superior e inferior */
    width: 100%;
    padding: 0 15px; /* Padding nas laterais para evitar que o conteúdo toque nas bordas da tela */
}

.card {
    border: none;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    margin-bottom: 2rem; /* Adiciona margem inferior para separar os cards */
    border-radius: 10px; /* Mantém os cantos arredondados para um visual moderno */
    overflow: hidden; /* Garante que nada saia dos limites do card */
}

.card-body {
    padding: 2rem;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
    color: #333;
}

h1 {
    font-size: 2.25rem; /* Aumenta o tamanho para mais destaque */
    margin-bottom: 1rem;
}

.form-control-textarea {
    width: 100%; /* Faz o textarea ocupar todo o espaço horizontal disponível */
    margin-top: 0.5rem; /* Adiciona uma pequena margem superior */
}

.btn-analyze {
    display: inline-block; /* Permite o uso de margin */
    margin-top: 1rem;
}

.btn-analyze:hover {
    background-color: #4a148c;
}

/* Cabeçalho e Rodapé */
.site-header, .site-footer {
    background-color: #6a1b9a;
    color: #fff;
    padding: 1rem 0; /* Aumenta o padding para mais espaço */
}

.site-footer {
    margin-top: auto; /* Empurra o footer para baixo */
    text-align: center;
}

.footer-content {
    font-size: 0.875rem; /* Tamanho de fonte mais apropriado para o rodapé */
}

/* Centralizar conteúdo principal */
.main-content {
    flex-grow: 1; /* Permite que o conteúdo principal cresça para ocupar o espaço restante */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.site-header {
    background-color: #6a1b9a;
    color: #fff;
    text-align: center; /* Centraliza o conteúdo dentro da .site-header */
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.site-header .logo {
    font-weight: bolder;
    color: #fff;
    font-size: larger;
    text-decoration: none;
    display: inline-block; /* Garante que o logotipo se comporte como um bloco e possa ser centralizado */
}

/* Estilos para os ícones flutuantes */
.floating-icons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

.floating-icons .icon {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #6a1b9a;  /* Cor de fundo violeta */
    color: #fff;  /* Ícones brancos */
    border-radius: 50%;  /* Bordas arredondadas para fazer círculos */
    text-align: center;
    line-height: 40px;  /* Centraliza o ícone verticalmente */
    margin-bottom: 10px;  /* Espaço entre ícones */
    transition: background-color 0.3s ease;  /* Efeito suave ao mudar de cor */
}

.floating-icons .icon:hover {
    background-color: #4a148c;  /* Cor mais escura ao passar o mouse */
}